@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto+Condensed:wght@300;400&family=Yantramanav&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


@import "variables";
@import "header";
@import "main";
@import "footer";
@import "boton";
@import "media";

